pkgbase = recaf-git
	pkgdesc = A modern Java bytecode editor
	pkgver = r4478.4ab601528
	pkgrel = 1
	url = https://github.com/Col-E/Recaf
	arch = any
	license = MIT
	makedepends = git
	makedepends = jdk23-openjdk
	depends = java-environment-openjdk=23
	depends = ttf-font
	provides = recaf
	conflicts = recaf
	conflicts = recaf-bin
	replaces = recaf
	source = recaf::git+https://github.com/Col-E/Recaf#branch=master
	md5sums = SKIP

pkgname = recaf-git
